venv
__pycache__
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django stuff
/static/
media/
*.log
/staticfiles/
staticfiles/
# Environment variables
.env
.env.local
.env.production
.env.dev
*.env

# IDE / editor files
.vscode/
.idea/
*.swp
.DS_Store

# OS-specific
Thumbs.db

# Coverage and testing
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
gunicorn.pid


# Build files
build/
dist/
